:root {
    --vp-c-brand: #ff6600;
    --c-brand-light: #ff6600;
    --vp-c-brand-light:  #ff6600;
    --vp-c-brand-lighter:  #ff6600;
    --vp-c-brand-dark:  #ff6600;
    --vp-c-brand-darker:  #ff6600;
  }